.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: rgba(3, 166, 150, 0.5);
    border: 1px solid #04BF9D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dsmeta-red-btn img {
      width: 19px;
  }
  